<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    form {
      text-align:center;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      width:400px;
      height:550px;
      background:#CCCCFF;
      border-radius:5px;


    }

     body{
     margin:0;
     padding:0;
     font-family: montserrat;
     background:linear-gradient(500deg,#DE3163,#6495ED);
     height:100vh;
     overflow:hidden;
       }

</style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="register" method="post">
    {% csrf_token %}
    <h2>Registration Form</h2>

    <p>UserName <input type="text" name="username" placeholder="enter your user name"></p><br>
<!--    <p>First Name <input type="text" name="first_name" placeholder="enter your first name"></p><br>-->
<!--     <p>Last Name <input type="text" name="last_name" placeholder="enter your last name"> </p><br>-->
<!--    <p>Email Address <input type="email" name="email" placeholder="enter your email address"></p><br>-->
    <p>Password <input type="password" name="password" placeholder="enter your password"></p><br>
    <p>Confirm Password <input type="password" name="password1" placeholder="confirm your password"></p><br>
    <p></p>
    <input type="submit" value="Register">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>